<div class="About">
    <h2>ABOUT COMPONENT</h2>
    <div class="Second position-relative">
        <div class="line">
        </div>
        <i class="fa-solid fa-star"></i>
        <div class="hash-line">
        </div> <br> <br>
    </div>
    <div class="P">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
</div>