<div class="NavBar ">
    <nav class="navbar navbar-expand-lg bg-body-tertiary py-4" >
        <div class="container">
          <a class="navbar-brand ps-5" routerLink="Home">START FRAMEWORK</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto ps-5">
              <li class="nav-item">
                <a class="nav-link me-2" routerLinkActive="bg-main rounded-3" routerLink="About">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-2"routerLinkActive="bg-main rounded-3" routerLink="Portfolio">PORTFOLIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"routerLinkActive="bg-main rounded-3" routerLink="Contact">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>